{% extends "employee/employee_base.html" %}
{% block title %}Leave Management{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Leave Management</h2>

    <div class="list-group mt-4">
        <a href="{{ url_for('employee.holidays') }}" class="list-group-item list-group-item-action">
            Holidays List
        </a>
        <a href="{{ url_for('employee.request_leave') }}" class="list-group-item list-group-item-action">
            Request Leave
        </a>
        <a href="{{ url_for('employee.track_requests') }}" class="list-group-item list-group-item-action">
            Track My Leave Requests
        </a>
    </div>
</div>
{% endblock %}